// Menu de navegacion
@use "../base/variables" as *;
.header {
    width: 100%;
    background-color:$dark;
    border-bottom: 1px solid $border;
    position: sticky;
    top: 0;
    z-index: 1000;

    .nav {
        width: 90%;
        margin: 0 auto;
        padding: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        

        &__logo {
            display: flex;
            align-items: start;
            
            .nav__title {
                color: white;
                font-weight: bold;
            }

            .nav__img {
                width: 50px;
                height: auto;
                background-color: $white;
                color: $dark;
                border-radius: 50%;
                margin-right: 20px;
                object-fit: cover;
            }
            
        }

        // &__menu {
            
        // }

        &__list {
            display: flex;
            gap: 1.5rem;
            list-style: none;
        }

        &__link {
            color: $white;
            text-decoration: none;
            font-size: 0.95rem;
            font-weight: 600;
            letter-spacing: 1px;
            border-bottom:1px solid transparent;
            

            transition: all 0.5s ease;
            }
       
        &__link:hover {
            color: $primary;
            text-shadow: 0 0 5px $primary;
            border-bottom: 1px solid $primary;
            padding-bottom: 2px;
        }
           
        }
    }
