*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #111;
    color: #f1f5f9;
    margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}