//variables

$primary: #ff3c3c;
$dark: #111;
$border:#272626;
$black: #000;
$text: #aaa;
$white: #fff;
$radius: 12px;
$shadow: 0 10px 25px rgba(0,0,0,0.4);
$shadow-hover: 0 20px 40px rgba(0,0,0,0.6);

//responsive
$mobile: 480px;
$tablet: 768px;
$laptop :1024px;